# Specifically Ignored for the build process
http/vars

# Random Binaries
bin/packer

# Random files
*.swp
*.tmp
*.log

# Python Stuff
*.pyc

# OSX Stuff
.DS_Store
wget-log
wget-log.*

# Folder stuff
.idea/
output-virtualbox-iso/
build/
packer_cache/
build/
