# Folder stuff
.idea/
packer_cache/
output-virtualbox-iso/

# Specifically Ignored for the build process
http/ubuntu.vars

# Random Binaries
bin/packer

# Random files
*.swp
*.tmp
*.log

# Python Stuff
*.pyc

# OSX Stuff
.DS_Store
wget-log
wget-log.*
