# Specifically Ignored for the build process
http/vars
http/zesty.ks
*.retry

# Random Binaries
bin/packer

# Random files
*.swp
*.tmp
*.log
*.log.*

# Python Stuff
*.pyc

# OSX Stuff
.DS_Store
wget-log
wget-log.*

# Vagrant
.vagrant/
http/Vagrantfile
Vagrantfile

# Folder stuff
.idea/
output-virtualbox-iso/
packer_cache/

# Artifacts
*.iso
*.ova
*.box
*.vdi
build/
